@media (max-width: 1024px) { 
    #banner-support.support-study .row {
        margin-left: -10px;
        margin-right: -10px;
        padding: 0 30px;
    }
    #banner-support.support-study .row [class*="col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }
    #banner-support:not(.support-study) .row {
        margin-left: -10px;
        margin-right: -10px;
        padding: 0;
    }
    #banner-support:not(.support-study) .row [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
    #banner-support:not(.support-study) .list-image.list-two {
        margin-left: -10px;
        margin-right: -10px;
    }
    #banner-support .list-image.list-two .box-image-item:nth-child(1) {
        width: 23%;
        height: auto;
    }
    #banner-support .list-image.list-two .box-image-item:nth-child(2) {
        width: 46%;
        height: auto;
    }
    #banner-support .list-image.list-two .box-image-item:nth-child(3) {
        width: 30%;
        height: auto;
    }
    header#header .title-page {
        font-size: 46px;
    }
    header#header .title-page span{
        font-size: 44px;
    }
    #form-top .banner-form{
        justify-content: flex-start;
    }
    #form-top .banner-form .wrap-content{
        padding-left: 30px;
    }
}

@media (max-width: 991px) {
    #form-top .banner-form .wrap-content{
        padding-left: 10px;
    }
}
@media (max-width: 768px) {
    .header-top .text-top {
        font-size: 26px;
    }
    .header-top .container{
        flex-wrap: wrap;
    }
    .header-top .text-sale{
        max-width: 100%;
        width: 100%;
        font-size: 32px;
        text-align: center;
        margin-bottom: 10px;
    }
    .header-top .btn {
        height: 38px;
        font-size: 18px;
    }
    header#header{
        margin-bottom: 0;
    }
    header#header .logo{
        width: 120px;
        height: 56px;
    }
    header#header .container{
        flex-wrap: wrap;
    }
    header#header .title-page{
        width: 100%;
    }
    #form-top .container{
        flex-wrap: wrap;
    }
    #form-top .banner-form{
        width: 100%;
        max-width: 100%;
        padding: 80px 0 30px;
        justify-content: center;
    }
    #form-top .banner-form .wrap-content{
        padding-left: 0;
    }
    #form-top .wrap-form-main{
        width: 100%;
        max-width: 100%;
        margin: 50px 0 30px;
    }
    .item-banner-content{
        margin-bottom: 30px;
    }
    .item-banner-content .box-image{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    #banner-content .title-content .title{
        font-size: 20px;
    }
    #banner-content .box-content .title::before{
        display: none;
    }
    #banner-content .box-content .title{
        font-size: 16px;
        margin: 15px 0 20px;
        justify-content: center;
    }
    #banner-content .item-banner-content{
        margin: 0;
        padding: 25px;
    }
    #banner-content .item-banner-content.column-even{
        flex-direction: column-reverse;
    }
    #banner-support.support-study .item{
        margin-bottom: 40px;
    }
    #banner-support .title-content .title {
        font-size: 30px;
    }
    #banner-support .list-image .box-image-item:nth-child(1){
        order: 1;
    }
    #banner-support .list-image .box-image-item:nth-child(3){
        order: 2;
    }
    #banner-support .list-image .box-image-item:nth-child(2){
        order: 3;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    #banner-support .list-image .box-image-item:nth-child(1),
    #banner-support .list-image .box-image-item:nth-child(3){
        width: 100%;
        height: 235px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #banner-support .list-image.list-two .box-image-item:nth-child(2){
        width: 100%;
    }
    #banner-support {
        padding-bottom: 50px;
    }
    #recrui-info .box-title {
        padding: 35px 0 20px;
    }
    #recrui-info .box-content{
        flex-direction: column;
    }
    #recrui-info .box-content .item, #recrui-info .box-content .item:nth-child(2) {
        flex: unset;
        max-width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    #recrui-info .box-content .item:nth-child(2)::before{
        display: none;
    }
    #process .container .box-title {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    #process .container .box-title .title {
        font-size: 30px;
    }
    #process .container .list-process{
        flex-wrap: wrap;
    }
    #process .container .list-process .item {
        flex: 0 0 50%;
        max-width: 50%;
        padding-bottom: 70px;
    }
    #process .container .list-process .item:nth-child(3),
    #process .container .list-process .item:nth-child(4){
        padding-bottom: 0;
    }
    #process .container .list-process::before {
        display: none;
    }
    #process .container .list-process .item:nth-child(1),
    #process .container .list-process .item:nth-child(3),
    #process .container .list-process .item:nth-child(4){
        position: relative;
    }
    #process .container .list-process .item:nth-child(1)::before,
    #process .container .list-process .item:nth-child(3)::before {
        content: "";
        position: absolute;
        top: 57px;
        left: auto;
        width: 70%;
        height: 5px;
        background-color: var(--bg-main);
        transform: translateX(-50%);
        right: -70%;
    }
    #process .container .list-process .item:nth-child(4)::before {
        content: "";
        position: absolute;
        top: 0;
        width: 30%;
        height: 5px;
        background-color: var(--bg-main);
        left: 38%;
        transform: rotate(90deg) translateX(-50%);
    }
    #form-register .box-title .title {
        font-size: 20px;
    }
    #form-register .box-title {
        padding: 30px 0 40px;
    }
    #process {
        background-size: cover;
    }
    #process .container .list-process .item .content {
        font-size: 16px;
    }
    #footer .row>div:nth-child(1){
        order: 2;
    }
    #footer .row>div:nth-child(2){
        order: 1;
    }
    #footer .row>div:nth-child(3){
        order: 3;
        text-align: center;
    }
    footer#footer .box-logo-footer{
        max-width: 100%;
        text-align: center;
    }
    footer#footer .box-logo-footer .list-content-footer {
        padding-left: 0;
    }
    footer#footer .list-content-footer .title{
        text-align: center;
    }
    footer#footer .list-content-footer .content{
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .header-top .text-sale {
        font-size: 22px;
    }
    .header-top .text-top {
        font-size: 18px;
    }
    header#header .title-page {
        font-size: 32px;
    }
    header#header .title-page span {
        font-size: 30px;
        margin-bottom: -8px;
    }
    #banner-content .item-banner-content {
        padding: 15px 0;
    }
    #banner-support.support-study .row {
        padding: 0 15px;
    }
    #banner-support.support-study .row [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
    #banner-support.support-study .item {
        margin-bottom: 30px;
    }
    #form-register .wrap-form-main {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 480px) {
    .header-top .container{
        justify-content: center;
    }
    .header-top .text-sale {
        font-size: 18px;
    }
    .header-top .text-top{
        font-size: 15px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    #form-top .banner-form {
        padding: 35px 0 30px;
    }
    #form-top .banner-form .wrap-content .item .box-image {
        width: 35px;
        min-width: 35px;
    }
    header#header .title-page{
        font-size: 25px;
        margin: 10px 0 0 ;
    }
    header#header .title-page span{
        display: contents;
        font-size: 24px;
    }
    #form-top .wrap-form-main{
        padding: 20px;
        margin: 30px 0 15px;
    }
    .wrap-form-main .title-form{
        margin-bottom: 10px;
    }
    #process .container .list-process{
        padding: 0;
    }
    #process .container .box-btn .btn {
        font-size: 16px;
    }
    #process .container .box-title .title {
        font-size: 24px;
    }
    #banner-support .title-content .title {
        font-size: 24px;
    }
    #banner-content {
        margin-bottom: 30px;
    }
}





























